<header>
  <nav>
    <div class="left-container">
      <a class="navbar-brand" href="/maps">Lighthouse Maps</a>
      <% if (user) { %>
      <a class="navbar-profile" href="/profile/<%= userID %>">Profile</a>
      <% } else { %>
        <div></div>
        <% } %>
    </div>
    <div class="right-container">
      <% if (user) { %>
        <label>-Logged In As: <%= user %>-</label>
        <form method="POST" action="/login/logout">
          <button type="submit">Logout</button>
        </form>
      <% } else { %>
        <form method="GET" action="/login">
          <button type="submit">Login</button>
          </form>
        <% } %>
    </div>

  </nav>
</header>
