#mymap {
  height: 550px;
  width: 550px;
  margin-top: 85px;
  margin-left: 15px;
  z-index: 1;
}

#updateTitle {


}

.edit-details{
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 550px;
  #title-update{

  }
}

.update-container{
  display: flex;
  flex-direction: column-reverse;
}
