// See: https://sass-lang.com/



// navbar

.right-container {
  display: flex;
  justify-content: space-around;
}

//maps hover

.hide {
  visibility:hidden;
}

.hoverDetails:hover + .hide {
  visibility: visible;
  color: black;
}

.totalMapBox {
  border: 3px solid black;
  margin: 3px;
}


