// See: https://sass-lang.com/

body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  h1 {
    color: #244751;
  }
}

// navbar

.right-container {
  display: flex;
  justify-content: space-around;
}

//maps hover

.hide {
  visibility:hidden;
}

.hoverDetails:hover + .hide {
  visibility: visible;
  color: black;
}

.totalMapBox {
  border: 3px solid black;
  margin: 3px;
}


