#navbar {
  z-index: 100;
  position:fixed !important;
  top: 0 !important;
  width: 100% !important;
  background-color: #E0E0E0;
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 50px;
}

body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  h1 {
    color: #244751;
  }
}

.left-container{
  display: flex;
  align-items: flex-end;
}

.right-container{
  display: flex;
  align-items: flex-end;
}
