#navbar {
  z-index: 100;
  position:fixed !important;
  top: 0 !important;
  width: 100% !important;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}



body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  h1 {
    color: #244751;
  }
}
