#newMapBody {
  margin-top: 75px;
  justify-content: center;

}

#newMapForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
}

#newMapDiv {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

#nextButton {
  margin-top: 21px;
}
